
// Body
$white: #fff;
$color-body: #fefefe;
$gutter-color: #f9f9f9;
$gray-background: #ebebeb;
$gray-lighter: #D2D2D2;
$gray-light: #B9B7B7;
$gray: #5A5D5E;
$black: #363647;

$dark-blue: #10073B;
$dark-red: #750009;

$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

$border: 1px solid $gray-lighter;

// Typography
$font-family-sans-serif: 'nexa';
