.boots-form-wrapper {
	display: inline-block;
	text-align: left;
}

.boots-form-group {
	text-align: left;
}

.boots-form-input-group {
	text-align: right;
}

.boots-form-input-label {
    font-size: 1.2em;
}

.wdi-form-input-label {
    display: inline-block;
    font-size: 1.2em;
    margin-right: 4px;
}

.boots-input-string {
	border: $border;
    font-size: 1.2em;
    margin-bottom: 8px;
    padding: 4px 8px;
    width: 14em;
}

.boots-input-textarea-container {
    display: inline-block;
}

.boots-form-label {
	display: block;
    margin-right: 8px;
}

.boots-input-textarea {
    box-sizing: content-box;
    display: block;
    margin-bottom: 8px;
    max-width: 80em;
    padding: 48px 64px 32px;
    width: 600px;
}

.boots-invalid-feedback {
	color: $dark-red;
	display: block;
	font-size: .9em;
	font-weight:300;
	margin-bottom:8px;
}

.boots-button-submit {
	background-color: $gray-background;
	border: $border;
    cursor: pointer;
    font-size: 1.2em;
    padding-bottom: 4px;
    padding-top: 4px;
    transition: background-color 250ms ease-out;
    width: 100%;

    &:hover {
        background-color: $gray-lighter;
        transition: background-color 250ms ease-out;
    }
}

.boots-button--cta {
    background-color: $link-blue;
    color: #fff;
    padding: 8px 16px;
    transition: background-color 250ms ease-out;

    &:hover {
       background-color: $dark-blue;
       transition: background-color 250ms ease-out;
    }
}

.wb-button-link {
	margin-top:8px;
}

.wb-form-options-details {
    float: left;
    margin-bottom: 16px;
    max-width: 90%;
}

.wb-form-checkbox-wrapper {
    float: left;
    margin-right: 24px
}

.wb-form-options-legend {
    font-size: 1.2em;
}
